 /* on refactor use module.css  
 https://www.w3schools.com/react/react_css.asp */


.App {
  
  text-align: center;
  font-family: monospace;
}

a{
  text-decoration: none;
  color: rgb(205, 135, 6);
}

.home-container{
  position: relative;
  background-repeat: no-repeat;
  margin: 0 0 2%;
  padding: 0rem;
  height: 30em;
  background-image: url("https://images.unsplash.com/photo-1504280390367-361c6d9f38f4");
  background-size: cover;
  background-position: center;
}

.promo { 
  letter-spacing: -.01rem;
  background: rgba(0, 0, 0, .24);
  padding: 2%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}




/*******************/
/*******************/
/* NAV BAR COMPONENT*/
/*  */

.brand-wordmark{
  font-size: 3em;
  text-decoration: none;
  letter-spacing: .12em;
  margin: .5em 3em .5em 0.5em;
  justify-items: left;
  align-items: left;
}


.nav{
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}


.navbar__link {
  margin: 0.5em;
  font-size: 1.7em;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .1em;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .5s ease-in-out;
}

/* .burger{
  display:none;
} */

@media (max-width: 650px){
  
  .nav {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1;
    grid-row-gap: 10px;
    grid-template-areas: 
    "brand-wordmark brand-wordmark  brand-wordmark brand-wordmark brand-wordmark ";
  }
  .navbar__link {
    margin: 0.5em;
    font-size: 1.7em;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .1em;
    border-bottom: 3px solid transparent;
  }

  .brand-wordmark{
    grid-area: brand-wordmark;
    font-size: 3em;
    text-decoration: none;
    letter-spacing: .12em;
    margin: auto;
    justify-items: left;
    align-items: left
  }


}












/*******************/
/* LOGIN FORM*/

.login-container{
  padding: 1em 1em 10em 1em;
}

.create-account-link{
  padding: 1em;
}


.login-form-center{
  display: inline-grid;
  flex: 50% 1;
  float: center;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form-center input[type="text"], 
.login-form-center input[type="password"]{
  /* flex: 50%; */
  float: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}






/*******************/
/* SIGNUP FORM*/

.sign-form-left {
  flex: 40%;
  float: left;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}
.sign-form-left input[type="text"], 
.sign-form-left input[type="password"],
.sign-form-left input[type="number"] {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.sign-form-right{
  flex: 40%;
  float: right;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.sign-form-right input[type="text"],
.sign-form-right input[type="number"]{
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.signup-container{
  padding: 3%;
  display: inline-grid;
  
}







/*******************/


/*******************/
/* INDIVIDUAL ITEM DETAILS/INVENTORY COMPONENT*/

.item-container{
  display: grid;
  /* grid-template-columns: 1.3fr 1fr; */
  display: grid;
  align-items: flex-start;  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 1rem;

}

.item {
  padding: 2px;
  width: auto;
  display: inline-grid;
}


.item .itemName{
  font-size: 2.5em;
  text-align: center;
  padding: 2%;
  margin-top: 1rem;
  font-weight: bolder;
}

.item .itemPrice {
  font-size: 1.5em;
}

.item .itemPhoto{
  text-align: center;
  border-radius: 10px;
  height: 45%;
  width: 45%;
  /* display: inline-grid; */
  margin: 1rem 2rem;
}

.item .itemDescription{
  position: relative;
  font-size: 1.5em;
  padding: 3%;
  text-align: left;
}


/*******************/
/*******************/
/* DISPLAY ITEM CARD */

.card-container{
  margin: 1rem 1rem;
  display: inline-grid;

}

.card {
  cursor: pointer;
  /* changes pointer for clickable objects */
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  padding: 0 .8em .5rem;
  width: 16rem;
  height: max-content;
  margin: 1rem 2rem; 
  color: rgb(205, 135, 6);
}

.card .itemPhoto {
  justify-self: center;
  height: 100%;
  width: 100%;
  padding: .8em 0 .8em 0 ;
  border-radius: 10px 10px 0 0;
}
.card .itemContent {
  /* background:#EDB668; */
  word-wrap: break-word;
  /* font-size: 3em; */
  padding: .5em;
  text-align: center;
  

}
.card .brand {
  font-size: 1.7em;
  padding-bottom: .5em
}

.card .model{
  font-size: 1.8em;
  font-weight: bolder;
  padding-bottom: .5em;
}

.card .category_price{
  font-size: 1.3em;
  padding: .5em;
}


/*******************/
/*******************/
/* INDIVIDUAL ITEM DETAILS/INVENTORY COMPONENT*/

.reservation-container{
  margin: 1em 1em;
  display: inline-grid;
}

.datePicker{
  margin: 1rem 1rem;
  display: inline-grid;
  font-size: 1.4em;
}

.reservationDropdown{
  margin: 1em ;
}


/*******************/
/*******************/
/* BUTTONS AND INPUT TYPES*/


 input[type=button], input[type=submit], input[type=reset]{
  background-color: #e6c611;
    border: none;
    font-size: 1.8vh;
    color: black;
    padding: 2% 2%;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.loginButton {
  background-color: #e6c611;
  border: none;
  font-size: 1.8vh;
  color: black;
  padding: 0.4em;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  width: 25%;
  border-radius: 10px;
  margin-top: .5em;
}



.signupButton {
  background-color: #e6c611;
  border: none;
  font-size: 1.8vh;
  color: black;
  padding: 0.4em;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
  margin-top: .5em;
}

.checkoutButton {
    border: none;
    width: 31%;
    display: inline-grid;
    border-radius: 10px;
}


/*******************/
/*******************/
/* CART and CHECKOUT */

.cart-container {
  background-color: #c1c0be5f;
  padding: 2.2em;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(2em, auto));
  grid-template-rows: repeat(2, auto);
  grid-gap: .5rem;
  justify-content: center;
}

.cartHeader{
  font-size: .8em;
  margin: .2em;
  align-items: center;
  text-align: center;
}


.cartDesc {
  margin: .6em;
} 

.financial {
  margin: .6em;
}

.dates {
  margin: .6em;
}

.remove {
  font-size: .5em;
  margin: .6em;

}

.empty{
  font-size: 1.5em;
}

.grandTotal{
  font-size: 2.5vh;
  margin: 0 0 1em;
}


/*******************/
/* CART and CHECKOUT */

.footer{
margin-top: 3em;             
}

/*******************/


/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
