.App {
  text-align: center;
  font-family: monospace;
}

/*******************/
/*******************/
/* INDIVIDUAL ITEM DETAILS/INVENTORY COMPONENT*/
.item {
  /* background: #b3aeae; */
  /* border-radius: 10px; */
  padding: 8px;
  width: 40rem;
  display: inline-grid;

}


.item .itemName{
  font-size: 35px;
  text-align: center;
  padding: 15px;
  margin-top: 2rem;
  font-weight: bolder;
}

.item .itemPrice {
  font-size: 25px;
}

.item .itemPhoto{
  text-align: center;
  border-radius: 10px;
  height: 45%;
  width: 45%;
  /* display: inline-grid; */
  margin: 1rem 2rem;
}

.item .itemDescription{
  position: relative;
  font-size: 24px;
  padding: 6px;
  /* display: block; */
}


/*******************/
/*******************/
/* DISPLAY ITEM CARD */

.card-container{
  margin: 1rem 1rem;
  display: inline-grid;

}

.card {
  cursor: pointer;
  /* changes pointer for clickable objects */
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  /* background: #e1dbdb; */
  padding: 0 .8em .5rem;
  width: 16rem;
  height: max-content;
  /* display: inline-grid; */
  margin: 1rem 2rem;  
  /* color: #1a436b; */
}

.card .itemPhoto {
  justify-self: center;
  height: 100%;
  width: 100%;
  padding: .8em 0 .8em 0 ;
  border-radius: 10px 10px 0 0;
}
.card .itemContent {
  /* background:#EDB668; */
  word-wrap: break-word;
  /* font-size: 3em; */
  padding: .5em;
  text-align: center;

}
.card .brand {
  font-size: 1.7em;
  padding-bottom: .5em;
}

.card .model{
  font-size: 1.8em;
  font-weight: bolder;
  padding-bottom: .5em;
}

.card .category_price{
  font-size: 1.3em;
  padding: .5em;
}

/*******************/
/*******************/
/* INDIVIDUAL ITEM DETAILS/INVENTORY COMPONENT*/


.reservation-container{
  margin: 1em 1em;
  display: inline-grid;
  border: solid;
}

.datePicker{
  margin: 1rem 1rem;
  display: inline-grid;
  font-size: 1.4em;
}

.reservationDropdown{
  margin: 1em ;
}


input[type=button], input[type=submit], input[type=reset] {
  background-color: #e6c611;
  border: none;
  font-size: 1.5em;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}















/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
